*{
    margin: 0
}
.header {
    display: flex;
    padding: 0 32px;
    justify-content: space-between;
    background-color: #1f2937;
    margin: 0;
    padding: 20px 0;
    width: 100%;
    align-items: center;
}

.title {
    display: flex;
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    margin-left: 140px;
    align-items: center;
}

ul {
    display: flex;
    gap: 16px;
    font-size: 18px;
    margin-right: 150px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    overflow: auto;
    
}

button {
    border-radius: 10px;
    background-color: #3177ef;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    max-width: 150px;
    margin-left: 150px;
    margin-top: 15px;
    margin-bottom: 20px;
}

img {
    max-height: 200px;
    max-width: 200px;
}

.body-title {
    color: #f9faf8;
    margin-top: 40px;
    margin-left: 150px;
}

.body-p {
    color: #e5e7eb;
    margin-left: 150px;
    margin-top: 15px;
}

.img-one {
    display: flex;
    border-radius: 25%;
    margin: 10px;
}

.header-info {
    display: flex;
}

.body-logo {
    display: flex;
    background-color: #1f2937;
    flex: auto;
    justify-content: center;
    padding: 10px;
}

.card {
    display: flex;
    min-width: 150px;
    min-height: 150px;
    border: 3px solid #3177ef;
    border-radius: 25px;
}

.title-two {
    display: flex;
    font-weight: bold;
    font-size: 36px;
    justify-content: center;
    margin-top: 20px;
}

.section-one {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.text {
    max-width: 150px;
    text-align: center;
    margin-top: 10px;
}

.container {
    max-width: 150px;
}

.section-two {
    display: flex;
    width: auto;
    height: 400px;
    background-color: #e5e7eb;
    margin-top: 30px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 64px;
    margin-left: 20px;
}

.quote-label {
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    width: auto;
    align-items: end;
    margin-right: 150px;
    margin-bottom: 130px;
    text-wrap: nowrap;
}